# Build Folders
bin/
obj/

# VS Code / Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.DotSettings.user

# Logs & Databases
*.log
*.sqlite
*.db

# Indexing/IDE files
*.vsidx
.vscode/
ComicBookApi/ComicBookApi/bin
ComicBookApi/ComicBookApi/obj
